# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\_hfmg_\_capacitaciones_\_platzi_\_cursos_\kotlin-basico\_proyectos_\RecipesMaker2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
